
// Dark
$dark_background: linear-gradient(#312A5D, #7B85BE);
$dark_purple: #2B0D66; 
$dark_purple2: #200B41; 
$dark_purple3: #341A87; 
$dark_purple4: #6b0aeb;
$dark_water: #2E449D; 
$dark_water2: #273193; 
$moon: #FAFAFB; 
$dark_header: #2f14814a; 
$dark_header2:rgb(24, 2, 90); 
$dark_header3:rgb(23, 5, 77); 
$dark_section: #15115aab;
$dark_red: #ff0d86;
$dark_cyan: #00ccff;
$dark_green: #0dffb0;
$dark_yellow: #eeff00;
$white: white;
$dark_input: #0100307a; 
$dark_jobs: #16005a;
$dark_old_cyan: #9bcdf1;
$dark_background2: #312a5d;
// Light 
$lght_background: linear-gradient(#1E799D, #97D7E8);
$lght_purple1: #C08654; 
$lght_purple2: #F69E56; 
$lght_purple3: #FAB36F; 
$lght_water: #0B2733; 
$lght_water2: #0B2733; 
$lght_water3: #132E43; 
$lght_water4: #101E3A; 
$lght_brown1: #271D20; 
$lght_brown2: #161112; 
$lght_header: #1459814a; 


@function pxtovw($px, $baseWidth) {
    @return #{$px / $baseWidth * 100}vw;
}
  
  
  @mixin flexwidth($w: unset) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: $w;
  }
  