@import './colorpallete'; 

* {
    margin: 0; 
    padding: 0; 
    font: unset;
    font-family:'calibri';
}


@keyframes stars_animate {
    from {
        transform: translate(0, 0);
    } to {
        transform: translate(-100%, 0);
    }
}

@keyframes moon_animate {
    from {
        box-shadow: 0 0 pxtovw(5, 1920) black; 
    } to {
        box-shadow: 0 0 pxtovw(50, 1920) white; 
    }
}

body {
}



header {
    padding: pxtovw(20, 1920) pxtovw(30, 1920);
    position: absolute;
    left: 0; 
    right: 0;
    top: 0; 
    display:flex; 
    background: unset;
    z-index: 999;
    justify-content: space-between;
    .logo {
        display:flex; 
        align-items: center;
        color:white;
        h1 {
            font-size: pxtovw(40, 1920);
            font-weight: bold; 
        } span {
            font-size: pxtovw(25, 1920); 

        }
    }

    .menu {
        display:flex; 
        align-items: center;
        gap: pxtovw(30, 1920); 
        list-style:none;
        li a {
            color:white; 
            font-size: pxtovw(25, 1920);
        }
    }

    .option {
        
        display:flex; 
        align-items: center;
        gap: pxtovw(20, 1920);
        svg {
            width: pxtovw(30, 1920); 
            height: auto;
        }

        .optionbtn {
            
            svg {
              
                pointer-events:none;
            }
        }
    }
}


button {
    cursor:pointer;
} a {
    text-decoration: none;
}
.dashboard {
    .hello-box {
        width: pxtovw(500, 1920);
        position:absolute; 
        left: 0; 
        right: 0;
        top: 19%;
        margin: auto;
        text-align:center;
        z-index: 9;
        color:white;
        display:flex; 
        flex-direction:column;
        gap: pxtovw(20, 1920);
        justify-content:center; 
        align-items:center;
        h1 {
            font-size: pxtovw(50, 1920);
            font-weight: bold;
        } p {
            font-size: pxtovw(20, 1920);
            line-height: pxtovw(30, 1920);
        } button {
            font-size: pxtovw(20, 1920);
            padding: pxtovw(5, 1920) pxtovw(40, 1920);
            background: #7B85BE;
            color:white;
            border:unset; 
            outline:unset;
        }
    }
}

body.dark {
    header {
        background: $dark_header; 
    }
    .dashboard {
        background-image: $dark_background;
        .components {
            .clouds {
                display:none;
            }
        }
    }
}
body.light {
    header {
        background: $lght_header; 
    }
    .dashboard {
        .hello-box { 
            button {
                background: $lght_purple2; 
            }
        }
        background-image: $lght_background;
        .components {
            .stars,.moon {
                display:none;
            }
        }
    }
}

.dashboard {
    overflow: hidden;
    width: 100%;
    height: 100vh; 

    .components {
        position: relative;
        height: 100%;
        * {
            pointer-events:none;
            user-select:none;
        }
        .stars {
            display:flex;
            .star {    
                width: 100%; 
                animation: stars_animate  30s linear 0s infinite; 
            }
        }

        .clouds {
            display:flex;
            .cloud {    
                width: 100%; 
                animation: stars_animate  30s linear 0s infinite; 
                filter:brightness(.93) opacity(0.7);
            }
        }

        .moon {
            top: 10%;
            left: 20%;
            position: absolute;
            height: pxtovw(150, 1920);
            width: pxtovw(150, 1920);
            background: $moon;
            border-radius: 50%; 
            box-shadow: 0 0 pxtovw(5, 1920) black;
            animation: moon_animate 1s ease 0s infinite alternate;
        } .mountain {
            position:absolute; 
            width: 100%; 
            bottom: -30%; 
        } .pohon1 {
            position: absolute;
            z-index: 999;
            bottom: -10%; 
            left:-8%;
            width: 100%;
        } .layer1 {
            position:absolute;
            width: 100%; 
            right: -10%; 
            bottom: 0;
            z-index: 9;
            bottom:-35%;

        } .pohon2 {
            width: 30%; 
            position:absolute; 
            z-index: 10;
            bottom: -10%; 
            right: -10%; 
        }
    }
}

