@import 'style';




@media screen and (max-width: 767px) {
    
@keyframes stars_animate {
    from {
        transform: translate(0, 50px);
    } to {
        transform: translate(-100%, 50px);
    }
}

.dashboard {
    .components {
        .stars {
            display:flex;
            .star {    
                transform: translate(0, 50px);
                width: 300%; 
                animation: stars_animate  30s linear 0s infinite; 
            }
        } .moon {
            left: 15%;
            top: 15%;
            height: pxtovw(450, 1920);
            width: pxtovw(450, 1920);
        }
    }
}


}

