@import './colorpallete';


@media screen and (max-width: 767px) {
    
@keyframes stars_animate {
    from {
        transform: translate(0, 50px);
    } to {
        transform: translate(-100%, 50px);
    }
}

body.dark {
    header {
        .menu {
            background: $dark_header;
        }
    }
}
body.light {
    header {
        .menu {
            background: $lght_header;
        }
    }
}

header {
    z-index: 9999999;
    padding: pxtovw(40, 767) pxtovw(40, 767);
    .logo {
        display:flex; 
        align-items: center;
        color:white;
        gap: pxtovw(5, 767);
        h1 {
            font-size: pxtovw(50, 767);
            font-weight: bold; 
        } span {
            font-size: pxtovw(25, 767); 

        }
    }

    .menu {
        width: 85%;
        border-radius: pxtovw(150, 767);
        left: 0; 
        right: 0; 
        margin: auto;
        justify-content: center;
        align-items: center;
        gap: pxtovw(30, 767); 
        li a {
            color:white; 
            font-size: pxtovw(25, 767);
        }
        position: fixed;
        bottom: pxtovw(70, 767);
        li svg {
            display:unset;
            width: pxtovw(40, 767);
        } li {
            display:flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:pxtovw(12, 767);
        }
    }

    .option {
        
        display:flex; 
        align-items: center;
        gap: pxtovw(20, 767);
        svg {
            width: pxtovw(30, 767); 
            height: auto;
        }

        .optionbtn {
            
            svg {
              
                pointer-events:none;
            }
        }
    }
}


.dashboard {
    .hello-box {
        top: 30%;
        width: 75%;
        gap: pxtovw(20, 767);
        h1 {
            font-size: pxtovw(54, 767);
        } p {
            font-size: pxtovw(23, 767);
            line-height: pxtovw(40, 767);
        } button {
            font-size: pxtovw(23, 767);
        }
    }
}

.dashboard {
    .components {
        .stars {
        
            .star {    
                transform: translate(0, 50px);
                width: 300%; 
                animation: stars_animate  30s linear 0s infinite; 
            }
        } 

        .clouds {
            .cloud {    
                transform: translate(0, 50px);
                width: 200%; 
                animation: stars_animate  30s linear 0s infinite; 
            }
        } 
        
        .moon {
            left: 6%;
            top: 12%;
            height: pxtovw(100, 767);
            width: pxtovw(100, 767);
        } .mountain {
            position:absolute; 
            width: 200%; 
            bottom: 0%;
            left: -50%; 
        } .pohon1 {
            width: 300%;
            left: -70%;
        } .pohon2,.layer1 {
            display:none;
        }
    }
}


}

