@media screen and (max-width: 767px) {
  @-webkit-keyframes stars_animate {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(-100%, 50px);
              transform: translate(-100%, 50px);
    }
  }
  @keyframes stars_animate {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(-100%, 50px);
              transform: translate(-100%, 50px);
    }
  }
  body.dark header .menu {
    background: #2f14814a;
  }
  body.light header .menu {
    background: #1459814a;
  }
  header {
    z-index: 9999999;
    padding: 5.21512vw 5.21512vw;
  }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    gap: 0.65189vw;
  }
  header .logo h1 {
    font-size: 6.5189vw;
    font-weight: bold;
  }
  header .logo span {
    font-size: 3.25945vw;
  }
  header .menu {
    width: 85%;
    border-radius: 19.55671vw;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.91134vw;
    position: fixed;
    bottom: 9.12647vw;
  }
  header .menu li a {
    color: white;
    font-size: 2.60756vw;
  }
  header .menu li {
    text-align: center;
  }
  header .menu li svg {
    display: unset;
    width: 3.91134vw;
  }
  header .menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.56454vw;
  }
  header .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.60756vw;
  }
  header .option svg {
    width: 3.91134vw;
    height: auto;
  }
  header .option .optionbtn svg {
    pointer-events: none;
  }
  .dashboard .hello-box {
    top: 30%;
    width: 75%;
    gap: 2.60756vw;
  }
  .dashboard .hello-box h1 {
    font-size: 7.04042vw;
  }
  .dashboard .hello-box p {
    font-size: 2.9987vw;
    line-height: 5.21512vw;
  }
  .dashboard .hello-box button {
    font-size: 2.9987vw;
  }
  .dashboard .components .stars .star {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    width: 300%;
    -webkit-animation: stars_animate  30s linear 0s infinite;
            animation: stars_animate  30s linear 0s infinite;
  }
  .dashboard .components .clouds .cloud {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    width: 200%;
    -webkit-animation: stars_animate  30s linear 0s infinite;
            animation: stars_animate  30s linear 0s infinite;
  }
  .dashboard .components .moon {
    left: 6%;
    top: 12%;
    height: 13.03781vw;
    width: 13.03781vw;
  }
  .dashboard .components .mountain {
    position: absolute;
    width: 200%;
    bottom: 0%;
    left: -50%;
  }
  .dashboard .components .pohon1 {
    width: 300%;
    left: -70%;
  }
  .dashboard .components .pohon2, .dashboard .components .layer1 {
    display: none;
  }
}
/*# sourceMappingURL=tablet.css.map */