@media screen and (max-width: 767px) {
  body {
    overflow: unset;
  }
  header {
    position: fixed;
    top: 0;
  }
  .box-info1 .about-me.skill .skill-title {
    margin-bottom: 7.8226857888vw;
  }
  .box-info1 .about-me.skill .skill-title h1 {
    font-size: 5.2151238592vw;
    font-weight: bold;
  }
  .box-info1 .about-me.skill .skill-title p {
    margin-top: 1.3037809648vw;
    width: 91.2646675359vw;
    font-size: 2.6075619296vw;
    line-height: 3.259452412vw;
  }
  .box-info1 .about-me.skill .skill-items .icon {
    gap: 2.6075619296vw;
  }
  .box-info1 .about-me.skill .skill-items .icon span {
    font-size: 2.6075619296vw;
  }
  .box-info1 .about-me.skill .skill-items .icon svg {
    width: 7.8226857888vw;
    height: 7.8226857888vw;
  }
  .box-info1 .about-me.skill .testi-items .card {
    width: 58.6701434159vw;
    padding: 2.6075619296vw;
  }
  .box-info1 .about-me.skill .testi-items .card .header {
    margin-bottom: 2.6075619296vw;
  }
  .box-info1 .about-me.skill .testi-items .card .header img {
    border-radius: 1.9556714472vw;
    top: -5.8670143416vw;
    width: 9.1264667536vw;
    height: 9.1264667536vw;
    border: 0.3911342894vw solid #6b0aeb;
  }
  .box-info1 .about-me.skill .testi-items .card .header span {
    font-size: 2.8683181226vw;
    transform: translate(11.7340286832vw, 0);
  }
  .box-info1 .about-me.skill .testi-items .card .footer {
    font-size: 1.9556714472vw;
    margin-top: 3.9113428944vw;
  }
  .box-info1 .about-me.skill .testi-items .card .footer .left,
  .box-info1 .about-me.skill .testi-items .card .footer .right {
    gap: 1.3037809648vw;
    margin: unset;
  }
  .box-info1 .about-me.skill .testi-items .card .footer .right {
    justify-content: flex-end;
  }
  .box-info1 .about-me.skill .testi-items .card .footer span {
    font-size: 1.9556714472vw;
    line-height: 1.5;
  }
  .box-info1 .about-me.skill .testi-items .card .footer img {
    width: 2.6075619296vw;
    height: 2.6075619296vw;
  }
  .box-info1 .about-me.skill .testi-items .card p {
    font-size: 2.3468057366vw;
  }
  .box-info1 .about-me {
    padding: 10.4302477184vw 5.2151238592vw;
    flex-direction: column-reverse;
  }
  .box-info1 .about-me .right {
    width: 40%;
    margin-bottom: 3.9113428944vw;
  }
  .box-info1 .about-me .right .frame .rectangle {
    width: 35.2020860495vw;
    height: 35.2020860495vw;
  }
  .box-info1 .about-me .left {
    width: unset;
  }
  .box-info1 .about-me .left h5 {
    font-size: 3.259452412vw;
  }
  .box-info1 .about-me .left h1 {
    font-size: 7.8226857888vw;
    font-weight: bold;
  }
  .box-info1 .about-me .left p {
    font-size: 2.998696219vw;
    line-height: 5.0847457627vw;
  }
  .box-info1 .about-me .left .buttons {
    gap: 1.9556714472vw;
  }
  .box-info1 .about-me .left .buttons .button {
    font-size: 2.6075619296vw;
    padding: 0.9126466754vw 1.5645371578vw;
  }
  .box-info1 .about-me .left .buttons .button svg {
    width: 3.520208605vw;
    height: 3.520208605vw;
  }
  .box-info1 .about-me .left .buttons a svg {
    width: 3.520208605vw;
    height: 3.520208605vw;
  }
  .box-info1 .about-me .left .buttons .buttonicon svg {
    width: 3.520208605vw;
    height: 3.520208605vw;
  }
  @keyframes stars_animate {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(-100%, 50px);
    }
  }
  body.dark header .menu {
    background: rgba(47, 20, 129, 0.2901960784);
  }
  body.light header .menu {
    background: rgba(20, 89, 129, 0.2901960784);
  }
  header {
    z-index: 9999999;
    padding: 5.2151238592vw 5.2151238592vw;
  }
  header .logo {
    display: flex;
    align-items: center;
    color: white;
    gap: 0.6518904824vw;
  }
  header .logo h1 {
    font-size: 6.518904824vw;
    font-weight: bold;
  }
  header .logo span {
    font-size: 3.259452412vw;
  }
  header .menu {
    width: 85%;
    border-radius: 19.556714472vw;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 5.2151238592vw;
    padding: 1.3037809648vw 0;
    position: fixed;
    bottom: 9.1264667536vw;
  }
  header .menu li:nth-child(1),
  header .menu li:nth-child(5) {
    display: none;
  }
  header .menu li a {
    color: white;
    font-size: 2.6075619296vw;
  }
  header .menu li {
    cursor: pointer;
    text-align: center;
  }
  header .menu li svg {
    display: unset;
    width: 3.9113428944vw;
    height: 3.9113428944vw;
  }
  header .menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5645371578vw;
  }
  header .option {
    display: flex;
    align-items: center;
    gap: 2.6075619296vw;
  }
  header .option svg {
    width: 3.9113428944vw;
    height: auto;
  }
  header .option .optionbtn svg {
    pointer-events: none;
  }
  .dashboard .hello-box {
    top: 30%;
    width: 75%;
    gap: 2.6075619296vw;
    z-index: 1;
  }
  .dashboard .hello-box h1 {
    font-size: 7.0404172099vw;
  }
  .dashboard .hello-box p {
    font-size: 2.998696219vw;
    line-height: 5.2151238592vw;
  }
  .dashboard .hello-box button {
    font-size: 2.998696219vw;
  }
  .dashboard .components .stars .star {
    transform: translate(0, 50px);
    width: 300%;
    animation: stars_animate 30s linear 0s infinite;
  }
  .dashboard .components .clouds .cloud {
    transform: translate(0, 50px);
    width: 200%;
    animation: stars_animate 30s linear 0s infinite;
  }
  .dashboard .components .moon {
    left: 6%;
    top: 12%;
    height: 13.037809648vw;
    width: 13.037809648vw;
  }
  .dashboard .components .mountain {
    position: absolute;
    width: 200%;
    bottom: 0%;
    left: -50%;
    z-index: 99;
  }
  .dashboard .components .pohon1 {
    width: 300%;
    left: -70%;
  }
  .dashboard .components .pohon2, .dashboard .components .layer1 {
    display: none;
  }
  .box-info2 {
    display: unset;
  }
  .box-info1,
  .box-info2 {
    transition: all 500ms ease 0s;
  }
  .box-info1,
  .box-info2 {
    position: relative;
    z-index: 99999;
  }
  .box-info2 {
    z-index: 9;
  }
  body.light {
    background: #1b8991;
  }
  .box-info2.active {
    background: #1b8991;
  }
  .box-info2 .cards .card .images a.github {
    width: 3.259452412vw;
    height: 3.259452412vw;
  }
  .box-info2 .cards .card .images a.github svg {
    width: 1.9556714472vw;
    height: auto;
  }
  .box-info2 .about-me.skill .skill-title {
    padding: unset !important;
  }
  .box-info2 .about-me.skill.education {
    padding: 3.9113428944vw;
    padding-bottom: 6.518904824vw;
  }
  .box-info2 .about-me.skill.education .skill-title {
    margin-bottom: 5.2151238592vw;
    padding: unset;
  }
  .box-info2 .about-me.skill.education .skill-items.education {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs {
    padding-left: 3.9113428944vw;
    border-left: 1.3037809648vw solid rgba(1, 0, 48, 0.4784313725);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5.2151238592vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box:nth-child(even) {
    background: #16005a;
    border: 0.6518904824vw solid #00ccff;
    box-shadow: 0 0 1.3037809648vw #00ccff;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box:nth-child(odd) {
    background: rgba(1, 0, 48, 0.4784313725);
    border: 0.6518904824vw solid #0dffb0;
    box-shadow: 0 0 1.3037809648vw #0dffb0;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box:nth-child(even)::after {
    background: #00ccff;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box:nth-child(odd)::after {
    background: #0dffb0;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box::after {
    position: absolute;
    content: "";
    width: 3.9113428944vw;
    height: 3.9113428944vw;
    top: 40%;
    left: -7.1707953064vw;
    border-radius: 50%;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box {
    position: relative;
    border-radius: 2.6075619296vw;
    padding: 2.6075619296vw 3.9113428944vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .semi-header {
    display: flex;
    align-items: center;
    gap: 1.9556714472vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .header h3 {
    font-size: 3.259452412vw;
    font-weight: bold;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .header .calendar {
    display: flex;
    gap: 0.6518904824vw;
    align-items: center;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .header .calendar svg {
    width: 1.6949152542vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .header .calendar span {
    font-size: 1.9556714472vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .semi-header svg {
    width: 2.0860495437vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .semi-header span {
    color: #eeff00;
    font-size: 2.3468057366vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box ul.job-desk {
    margin-left: 3.9113428944vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box ul.job-desk li {
    font-size: 2.4771838331vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .footer {
    margin-top: 1.9556714472vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .footer span {
    font-size: 2.3468057366vw;
  }
  .box-info2 .about-me.skill.education .skill-items.education .boxs .box .footer span:last-child {
    color: #00ccff;
  }
  .box-info2 .box-info1 .about-me .left .buttons .button {
    padding: 1.9556714472vw 1.9556714472vw;
  }
  .box-info2 .searchs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.6075619296vw;
  }
  .box-info2 .searchs button.submit {
    background: #6b0aeb;
    color: white;
    padding: 0.6518904824vw 1.3037809648vw;
    border: unset;
    outline: unset;
    font-size: 2.3468057366vw;
    min-height: 32px;
  }
  .box-info2 .section1 {
    gap: 5.2151238592vw;
    padding: 0 3.259452412vw;
    margin-top: 1.9556714472vw;
  }
  .box-info2 .about-me.skill {
    padding: 6.518904824vw 0;
  }
  .box-info2 .about-me.skill .skill-items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.518904824vw;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .box-info2 .about-me.skill .skill-items .icon {
    gap: 2.6075619296vw;
  }
  .box-info2 .about-me.skill .skill-items .icon span {
    font-size: 2.6075619296vw;
  }
  .box-info2 .about-me.skill .skill-items .icon svg {
    width: 7.8226857888vw;
    height: 7.8226857888vw;
  }
  .box-info2 .about-me.skill .skill-items .icon img {
    width: 19.556714472vw;
    height: auto;
  }
  .box-info2 .about-me.skill .skill-title {
    margin-bottom: 5.2151238592vw;
    text-align: center;
    padding: 5.2151238592vw 10.4302477184vw;
  }
  .box-info2 .about-me.skill .skill-title h1 {
    font-size: 5.2151238592vw;
    font-weight: bold;
  }
  .box-info2 .about-me.skill .skill-title p {
    margin-top: 1.3037809648vw;
    width: 91.2646675359vw;
    font-size: 2.6075619296vw;
    line-height: 3.259452412vw;
  }
  .box-info2 .about-me.skill .cards {
    gap: 3.9113428944vw;
  }
  .box-info2 .about-me.skill .card {
    width: 36.5058670143vw;
    padding: 1.3037809648vw;
    border-radius: 2.6075619296vw;
  }
  .box-info2 .about-me.skill .card .header {
    gap: 3.9113428944vw;
    margin-bottom: 2.6075619296vw;
  }
  .box-info2 .about-me.skill .card .header img {
    border-radius: 1.9556714472vw;
    top: -5.8670143416vw;
    width: 9.1264667536vw;
    height: 9.1264667536vw;
    border: 0.3911342894vw solid #6b0aeb;
  }
  .box-info2 .about-me.skill .card .header span {
    transform: translate(11.7340286832vw, 0);
    font-size: 2.8683181226vw;
  }
  .box-info2 .about-me.skill .card .detail {
    text-align: center;
    padding: 1.9556714472vw;
    padding-top: unset;
    background: rgb(24, 2, 90);
  }
  .box-info2 .about-me.skill .card .detail h3 {
    font-weight: bold;
    font-size: 3.259452412vw;
  }
  .box-info2 .about-me.skill .card .detail p {
    font-size: 2.2164276402vw;
  }
  .box-info2 .about-me.skill .card .footer {
    margin-top: 1.3037809648vw;
  }
  .box-info2 .about-me.skill .card .footer .left,
  .box-info2 .about-me.skill .card .footer .right {
    justify-content: flex-end;
    gap: 1.3037809648vw;
  }
  .box-info2 .about-me.skill .card .footer span {
    font-size: 1.9556714472vw;
  }
  .box-info2 .about-me.skill .card .footer img {
    width: 2.6075619296vw;
    height: 2.6075619296vw;
  }
  .box-info2 .about-me.skill .card p {
    font-size: 2.3468057366vw;
  }
  body > div.box-info2 > div > div > div.skill-title > div > span {
    width: 39.1134289439vw !important;
    background: rgba(1, 0, 48, 0.4784313725);
    overflow: hidden !important;
  }
  body > div.box-info2 > div > div > div.skill-title > div > span > span.selection > span {
    background: transparent !important;
    border: unset !important;
    display: flex !important;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: flex !important;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered li:nth-child(1n) {
    background: #ff0d86 !important;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered li:nth-child(2n) {
    background: #6b0aeb !important;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered li:nth-child(3n) {
    background: #00ccff !important;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered li:nth-child(4n) {
    background: #eeff00 !important;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered li button, .select2-container .select2-selection--multiple .select2-selection__rendered li span {
    border: unset !important;
    color: white !important;
    font-size: 2.3468057366vw !important;
  }
  .select2-container .select2-selection--multiple .select2-selection__rendered li button {
    width: 1.6949152542vw;
    height: 1.6949152542vw;
  }
}/*# sourceMappingURL=tablet.css.map */